*
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body
{
    position: relative;
}
.clear{
    clear: both;
}
.adminbtn
{
    float: right;
    margin-right: 10px;
}
.adminbtn a{
    color: #1c0062;
}
header
{
    text-align: center;
    height: 240px;
    width: 100%;
    background-color: #5eb5e0;
    border-bottom: dotted 2px #1c0062;
    margin-bottom: 5px;
}
header h2 {
    text-transform: uppercase;
    color: #1c0062;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5px;
    margin-left: -30px;
}
.error p
{
    font-size: 16px;
    color: red;
}

.newsltr:hover
{
    cursor: pointer;
    color: #FFFFFF;
}
.logo
{
    margin: 20px 0 0 45%;
    float: left;
    display: block;
    height: 100px;
    width: auto;
    border-radius: 50%;
}
nav
{
    padding-top: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
}
nav ul
{
    max-height: 150px;
    margin-left: 22%;
    padding-bottom: 10px;
    width: 57%;
    list-style: none;
    border: thick double #158C8C;
}
nav ul li
{
    margin-top: 12px;
    display: inline-block;
}
nav li
{
    margin-right: 40px;
    font-size: 24px;
    background-color: #4300ff;
    color: white;
    border: solid darkblue;
    border-radius: 5px;
    text-decoration: none;
}
nav li a
{
    color: #fff;
    text-decoration: none;
    padding: 5px;
}
nav li:hover
{
    background-color: #1c0062;
}
.last /* dernier lien */
{
    margin: 0;
}

/* Home page */
.wrap
{
    text-align: center;
    padding: 0 50px 0 50px;
    border: 5px #1c0062;
    border-style: double;
    width: 960px;
    height: 100%;
    margin: auto;
    margin-bottom: 60px;

}
.wrap h2
{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 20px;
}
.newsletter
{
    text-align: left;
    margin-top: 15px;
    padding: 20px 0 20px 0;
    border-top: solid 2px #5eb5e0;
    border-bottom: solid 2px #5eb5e0;
}
.btn
{
    font-size: 20px;
    padding: 13px 10px 13px 10px;
    border-radius: 45%;
    border: solid 2px #1c0062;
    background-color: #158C8C;
    margin-top: -10px;
    margin-left: 175px;
}
.newsltr
{
    margin-top: -50px;
    float: right;
}
.mail
{
    height: 20px;
    width: 60%;
}
button a{
    text-decoration: none;
    color: #1c0062;
}
.bioHome
{
    text-align: center;
}
.bioHome h2
{
    padding: 15px 0 5px 0;
}
.bioHome img
{
    margin-left: 10%;
    padding: 25px 0 25px 0;
}
.bioHome p
{
    padding: 25px 0 25px 0;

}
.recetteHome
{
    text-align: center;
}
.recetteHome h4
{
    margin-left: 40px;
    padding: 15px 0 5px 0;
}
.wrap h5
{
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 20px;
}
.recetteHome img
{
    width: 250px;
    height: 170px;
    margin-left: 40px;
}
.recetteHome li
{
    display: inline-block;
    list-style: none;
}
.modal
{
    display: none;
}
/*------------------------------------------*/

/* Bio */
.chefBio {
    border-bottom: double 4px #158C8C;
    margin-bottom: 20px;
}
.chefBio img
{
    margin-left: 10%;
    padding: 25px 0 25px 0;
}
.chefBio h4
{
    padding-top: 10px;
}
.articleBio
{
    align-items: center;
}
.articleBio h5
{
    margin: 15px 0 5px 0;
}
.articleBio img
{
    float: left;
    width: 300px;
    height: 200px;
}

.articleBio img.droite
{
    float: right;
    padding-bottom: 5px;
}
/*------------------------------------------*/

/* Blog */
article
{
    height: 250px;
    border-bottom: dotted 2px #158C8C;
}
.articles h2
{
    padding: 20px 0 10px 0;
    font-weight: bold;
    font-size: 20px;
}
.articles img
{
    float: left;
}
.articles .description
{
    padding-top: 25px;
    padding-left: 20px;
    float: left;
}
.wrap h3
{
    padding-top: 10px;
    padding-bottom: 20px;
    text-decoration: underline;
}
/*------------------------------------------*/

/* Restaurant */
.map {
    float: left;
    width: 450px;
}
.horaire
{
    float: right;
    width: 450px;
}
.horaire img
{
    width: 350px;
}
.commentaire
{
    padding: 40px 0 0 0;
}
.commentaires
{
    margin: 10px 5px 10px 5px;
    float: left;
    width: 300px;
    height: 100px;
    border: solid 2px #158C8C;
}

/*------------------------------------------*/

/* form */
input[type="text"]
{
    width: 500px;
}
textarea
{
    margin: 10px 0 20px 0;
    width: 500px;
    height: 100px;
    resize: none;
}
.contacthauteur label
{
    text-decoration: underline;
    left: 150px;
    position: relative;
    float: left;
}
.updatebtn, .deletebtn
{

    float: right;
}
.deletebtn
{

    position: relative;
    bottom: 10px;
}
.delCom
{
    margin-top: 15px;
    float: none;
}
.del-box-Art
{
    display: none;
}
.del-box-Com
{
    display: none;
}

/*------------------------------------------*/

/* admin */
.articles
{
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: double 2px #1c0062;
}
.delbox
{
    float: right;
}
/*------------------------------------------*/

/* contact */
.contacthauteur{
    height: 380px;
}
.back
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    margin: 0;
    background-image: url("../img/bord-de-mer.jpg");
}
.contactdiv h2
{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
    padding: 5px 3px 5px 3px;
    background-color: #5eb5e0;
    border-radius: 15px;
}
.contactdiv {
    top: 120px;
    position: relative;
}

/*------------------------------------------*/

/* footer */
footer
{
    height: 50px;
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: #5eb5e0;
    position: fixed;
    bottom: 0;
    border-top: dotted 2px #1c0062;
}
footer p
{
    margin-top: 10px;
}
