<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/assets/css/MeP.css">
    <title>Nouvel Article</title>
</head>
<body>
<!-- Header -->
{% include 'Header.html.twig' %}
<div class="wrap">
    <h2>Créer une nouvelle recette :</h2>
{{ form(ArticleForm) }}
</div>
<!-- Footer -->
{% include 'Footer.html.twig' %}

</body>
</html>